{{!
    @template theme_bambuco/login_external

    Example context (json):
    {
        "hasidentityproviders": true,
        "identityproviders": [
            {
                "url": "https://example.com",
                "iconurl": "https://example.com/icon.png",
                "name": "Example"
            }
        ]
    }
}}

{{#hasidentityproviders}}
    <div class="login-divider"></div>
    <div class="login-identityproviders">
        <h2 class="login-heading">{{#str}} potentialidpsregister, theme_bambuco {{/str}}</h2>
        {{#identityproviders}}
            <a class="btn login-identityprovider-btn btn-block" href="{{url}}">
                {{#iconurl}}
                    <img src="{{iconurl}}" alt="" width="24" height="24"/>
                {{/iconurl}}
                {{name}}
            </a>
        {{/identityproviders}}
        <p>{{#str}} potentialidpsregister_help, theme_bambuco {{/str}}</p>
    </div>
{{/hasidentityproviders}}

