{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_bambuco/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid pt-5 mt-0">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12 h-100" aria-label="{{#str}}content{{/str}}">
                <div class="login-wrapper">
                    <div class="login-container">
                        <div class="loginform">
                            {{#logourl}}
                                <div id="loginlogo" class="login-logo">
                                    <a href="{{wwwroot}}">
                                        <img id="logoimage" src="{{logourl}}" class="img-fluid" alt="{{sitename}}"/>
                                    </a>
                                    <h1 class="login-heading sr-only">{{#str}} loginto, core, {{sitename}} {{/str}}</h1>
                                </div>
                            {{/logourl}}
                            {{^logourl}}
                                <h1 class="login-heading mb-4">
                                    <a href="{{wwwroot}}">
                                        {{#str}} loginto, core, {{sitename}} {{/str}}
                                    </a>
                                </h1>
                            {{/logourl}}
                            {{#gotohome}}
                            <div class="btn-box">
                                <a href="{{wwwroot}}" class="btn btn-light">
                                    <i class="fa fa-reply"></i>
                                    {{#str}} returntohome, theme_bambuco {{/str}}
                                </a>
                            </div>
                            {{/gotohome}}
                            {{#maintenance}}
                                <div class="alert alert-danger login-maintenance">
                                    {{{maintenance}}}
                                </div>
                            {{/maintenance}}
                            {{{ output.main_content }}}
                        </div>
                    </div>
                </div>
                </section>
            </div>
        </div>

        {{#hasmorecontent}}
        <div id="loginmorecontent">
            {{{loginmorecontent}}}
        </div>
        {{/hasmorecontent}}

    </div>
    {{> theme_boost/footer }}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
