body.courseheader-custom {

    #page.drawers .main-inner {
        padding-top: 0;
    }

    #page-header {
        background-position: center center;
        background-size: cover;
        padding-bottom: 10px;

        .page-context-header {
            background-color: #fff8;
            border-radius: 10px;
            padding: 5px 10px;
        }

        h1.h2 {
            font-weight: normal;

            > span {
                display: block;

                &:last-child {
                    font-weight: bold;
                }
            }
        }

        #page-navbar {
            background-color: #fff8;
            border-radius: 0 0 10px 10px;
            padding: 0 10px;
            margin-bottom: 5px;
            position: absolute;
            top: 0;
        }
    }

    &.course-header-teacher {
        #page-header {

            > .w-100 {
                > div {
                    > .mr-auto {
                        display: flex;
                        align-items: baseline;
                        justify-content: space-between;
                        width: 100%;
                        flex-wrap: wrap;
                    }
                }
            }

            .courseheader_teacher {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                > div {
                    padding: 5px;
                    max-width: 150px;
                    text-align: center;
                    background: #fff8;
                    border-radius: 5px;
                    margin: 5px;
                    line-height: 1;
                    display: inline-block;

                    .detail a span:last-child {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    &.course-header-withmenu {
        #page-header {
            > .w-100 {
                > div {
                    > .mr-auto {
                        position: relative;
                        margin: auto;
                    }
                }
            }

            .bbcocoursemenu {
                text-align: center;
                width: 100%;

                > a {
                    margin-top: 5px;
                }
            }
        }
    }
}

.customcategorybanner {
    text-align: center;
    padding: 5px;

    img {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    body.courseheader-custom {
        &.course-header-fullwidth {

            #page.drawers .main-inner {
                padding-top: 15vw;
            }

            #page-header {
                max-width: unset;
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                height: 15vw;
                display: flex;
                align-items: end;
                padding-left: 50px;
                min-height: 180px;
            }
        }
    }
}

@media (max-width: 992px) {
    body.courseheader-custom {
        &.course-header-fullwidth {
            #page-header {
                margin: 0 -8px;
            }
        }
    }
}
