.block_slider {
    .card-body {
        padding: 0;
    }

    .bx-wrapper {
        margin-bottom: 0;
        border: none;
    }
}

#mod_quiz_navblock {
    padding: 10px 20px;
    max-width: 900px;
    margin: auto;
}
